<h2 class="page-header">Dashboard</h2>
<a href="/books/registerbook"><button class="default default-primary">Upload Book Details</button></a>
<a href="/genres/uploadgenre"><button class="default default-primary">Upload Genres</button></a>
<a href="/authors/uploadauthor"><button class="default default-primary">Upload Aathor Names</button></a>
<a href="/books/listbooks"><button class="default default-primary">List available books</button></a>